@model IEnumerable<RAD301_CA2_s00128052.Models.MovieActor>

@if (Model.Any())
{
    <div class="container" style="width: auto;">
        <div>
            @foreach (var item in Model)
            {
                <div class="col-md-2" style="width: 220px;">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Actor.ActorFullName)</h3>
                        </div>
                        <div class="panel-body">
                            @if (item.Actor.ActorImageUrl != null)
                            {
                                <p class="text-center">
                                    <img src="@Url.Content(item.Actor.ActorImageUrl)" alt="@item.Actor.ActorSurname" style="width:150px;height:200px" />
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h3>This Movie has no Actors</h3>
}